{
	"extends": ["plugin:import/recommended"],
	"rules": {
		"no-console": ["warn", {"allow": ["clear", "info", "error", "dir", "trace"]}],

		"import/extensions": [
			"warn",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],

		//Off extended rules
		"linebreak-style": "off",
		"quotes": "off",
		"semi": "off",
		"no-tabs": "off",
		"indent": "off",
		"curly": "off",
		"object-curly-spacing": "off",
		"max-len": ["error", {"code": 130}],
		"implicit-arrow-linebreak": "off",
		"function-paren-newline": "off"
	},
	"env": {
		"browser": true,
		"node": true
	}
}
